img{
    background-attachment: fixed;
}

#earth {
    color: white;
    font-size: 46px;
    text-align: center;
    margin-top: -550px;
    margin-bottom: 250px;
}

@media (max-width: 992px) {
    #earth {
        margin-top: -250px;
        margin-bottom: 50px;
    }
}

@media (max-width: 768px) {
    #earth {
        font-size: 36px;
        margin-top: -250px;
        margin-bottom: 50px;
    }
}

@media (max-width: 576px) {
    #earth {
        font-size: 32px;
        margin-top: -200px;
        margin-bottom: 50px;
    }
}

@media (max-width: 420px) {
    #earth {
        font-size: 32px;
        margin-top: -150px;
    }
}